<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/template_default :: layout(~{::head/content()}, ~{::body/content()})}">
<head>
    <title>Portal</title>
</head>
<body>
  <div class="align-center">
      Successful Login! SessionId : <span th:text="${sessionId}"></span>
  </div>

    <form id="logoutForm" action="/frontend/logout" method="get" >
        <button id="logoutButton" name="logoutButton" class="main-button" type="submit" value="Submit" >Logout</button>
    </form>

</body>
</html>